/* Styles for Hourly forecast section */
.hourly-forecast {
    align-self: start;
    display: grid;
    gap: var(--spacing-200);
    background-color: var(--neutral-800);
    border-radius: var(--radius-20);
    padding: var(--spacing-300);
}

.hourly-forecast__section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hourly-forecast__select-container {
    display: flex;
    gap: (--spacing-200);
    padding: var(--spacing-100) var(--spacing-200);
    background: var(--neutral-700);
    color: var(--neutral-0);
    border-radius: var(--radius-8);
}

.hourly-forecast__day-selector {
    appearance: none;
    background: transparent;
    color: inherit;
    border: none;
}

.hourly-forecast__section-body {
    display: grid;
    gap: var(--spacing-200);
}

.hourly-forecast__item {
    height: 60px;
    background-color: var(--neutral-700);
    padding-block: var(--spacing-125);
    padding-inline: var(--spacing-150) var(--spacing-200);
    display: flex;
    gap: var(--spacing-100);
    border-radius: var(--radius-8);
    align-items: center;
}

.hourly-forecast__icon {
    height: 40px;
    aspect-ratio: 1;
}

.hourly-forecast__temp {
    margin-left: auto;
}
