header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;


}
@media (min-width: 1216px) {
    header .header-content {
	margin-top: 50px;
    }    
}


.logo {
    width: clamp(137px, 15vw, 196px);
    height: auto;
}
