.units-switcher {
    display: grid;
    gap: .5em;
    align-items: end;
    justify-items: end;
}

.units-switcher-options,
.units-switcher-button {

    background: var(--neutral-800);
    color: var(--neutral-0);
    border: none;
    border-radius: 6px;
    padding: .5em;
}

.units-switcher-button {
    display: flex;
    gap: .5ch;
    cursor: pointer;
}

.units-switcher-options {
    position: fixed;
    top: 80px;
    
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group [type='radio'] {
    appearance: none;
    display: inline-block;
    height: 14px;
    width: 14px;
}

.form-group [type='radio']:checked {
    background: url('../../assets/images/icon-checkmark.svg') no-repeat center;
}
