/* Declaring my Font Faces for the project */

@font-face {
    font-family: "Bricolage Grotesque";
    src: url('/fonts/bricolage-grotesque-v8-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url('/fonts/bricolage-grotesque-v8-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-600italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Setting up custom variables */
:root {
    /* COLORS */

    /* Neutrals */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-900: hsl(243, 96%, 9%);

    --orange: hsl(28, 100%, 52%);

    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);

    /* Font */
    --fs-300: ;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.8rem;
    --fs-700: 2rem;
    --fs-800: 3.25rem

    /* Spacings */
    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1400: 112px;
    --spacing-1600: 128px;
    --spacing-1800: 140px;

    /* Border Radius */
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
    
}

* {
    box-sizing: border-box;
}

body {
    background: var(--neutral-900);
    color: var(--neutral-0);
    font-size: var(--fs-base);
    line-height: 120%;
    font-family: 'DM Sans', sans-serif;
}

.container {
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-600);
    display: grid;
    gap: var(--spacing-600);

    @media (min-width: 768px) {
	padding: var(--spacing-300) var(--spacing-300) var(--spacing-1000);
    }

    @media (min-width: 1216px) {
	padding-top: var(--spacing-600);
	max-width: 1216px;
	margin: 0 auto;
	gap: var(--spacing-800);
    }
}

input, button, textarea {
    font: inherit;
}

button, input {
    white-space: nowrap;
    border: none;
    border-radius: 0.4375em;
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

.section-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}

hr {
    width: 100%;
    height: 0px;
    background: transparent;
    border: none;
    border-top: 1px solid var(--neutral-600);
}

.skeleton {
    visibility: hidden;
}
