/* Declaring my Font Faces for the project */

@font-face {
    font-family: "Bricolage Grotesque";
    src: url('/fonts/bricolage-grotesque-v8-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url('/fonts/bricolage-grotesque-v8-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-600italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url('/fonts/dm-sans-v16-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Setting up custom variables */
:root {
    /* COLORS */

    /* Neutrals */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-900: hsl(243, 96%, 9%);

    --orange: hsl(28, 100%, 52%);

    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);

    /* Font */
    --fs-300: ;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.8rem;
    --fs-700: 2rem;
    --fs-800: 3.25rem

    /* Spacings */
    --space-200: 11px;
    --space-300: 13px;
    --space-400: 16px;
    --space-500: 18px;
    --space-600: 24px;
    --space-700: 32px;
    
}

body {
    background: var(--neutral-900);
    color: var(--neutral-0);
    font-size: var(--fs-base);
    font-family: 'DM Sans', sans-serif;
}

input, button, textarea {
    font: inherit;
}

button, input {
    white-space: nowrap;
    border: none;
    border-radius: 0.4375em;
}


