/* Current Weather Section Styles */

.weather-info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: var(--spacing-1000) var(--spacing-300);
    background: url('../../assets/images/bg-today-small.svg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-200);
    border-radius: var(--radius-20);
    height: 286px;
    position: relative;

    @media (min-width: 720px) {
	flex-direction: row;
	gap: 0px;
	justify-content: space-between;
	background: url('../../assets/images/bg-today-large.svg') no-repeat center/cover;
    }
}

.weather-info.skeletonContainer {
    background: var(--neutral-800);
}

.favourite-button {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 4px;
    display: grid;
    place-items: center;
    border: 1px solid #00e676;
    background: rgb(255,255,255, .05);
    backdrop-filter: blur(10px);
    transition: all 250ms ease-in-out;
}

.favourite-button:active {
    transform: scale(.85);
}

.favourite-icon {
    stroke: white;
    stroke-width: 1px;
    fill: transparent;
}

.favourite-icon.favourite {
    fill: #00e676;
    stroke: #00e676;
}

.weather-info__location-and-time {
    display: grid;
    gap: 1rem;
    text-align: center;
}

.weather-info__location {
    font-size: 1.75rem;
    font-weight: bold;
}

.weather-info__main {
    display: flex;
    align-items: center;
    gap: 30px;
}

.weather-info__icon {
    height: 90px;
    width: 90px;
}

.weather-info__temp {
    font-size: 96px;
    font-weight: 600;
    font-style: italic;
}
